<div class="data">
  <div><%= admin_post_tag_link(entity) %></div>
  <div class="info">
    <%= entity.slug %>
  </div>
  <div class="secondary info">
    <%= t('activerecord.attributes.post_tag.post_type') %>:
    <%= entity.post_type.name %>
  </div>
  <div class="secondary info">
    <%=
      link_to(
          t(:post_count, count: entity.posts_count),
          posts_admin_post_tag_path(id: entity.id)
      )
    %>
  </div>

  <ul class="actions">
    <li><%= edit_icon(edit_post_tag_path(id: entity.id)) %></li>
  </ul>
</div>
