<% content_for :meta_title, t('.title', name: @entity.name) %>
<% content_for :breadcrumbs do %>
  <%= link_to(t('admin.post_groups.nav_item.text'), admin_post_groups_path) %>
  <span><%= @entity.name %></span>
<% end %>

<article>
  <h1><%= @entity.name %></h1>

  <ul class="actions">
    <li><%= back_icon(admin_post_groups_path) %></li>
  </ul>

  <dl>
    <dt><%= t('activerecord.attributes.post_group.priority') %></dt>
    <dd><%= @entity.priority %></dd>

    <dt><%= t('activerecord.attributes.post_group.slug') %></dt>
    <dd><%= @entity.slug %></dd>
  </dl>

  <%=
    render(
        partial: 'shared/admin/toggleable',
        locals: {
            entity: @entity,
            url: toggle_admin_post_group_path(id: @entity.id)
        }
    )
  %>

  <section>
    <h2><%= t('.categories') %></h2>

    <%=
      render(
          partial: 'shared/admin/list_with_priority',
          locals: {
              collection: @entity.post_group_categories.list_for_administration
          }
      )
    %>
  </section>

  <section>
    <h2><%= t('.add_category') %></h2>

    <ul class="entity-links">
      <% PostCategory.order('id asc').each do |post_category| %>
        <li>
          <% element_id = "post_category_#{post_category.id}" %>
          <%=
            check_box_tag(
                'post_categories[]',
                post_category.id,
                @entity.category?(post_category),
                id: element_id,
                data: {
                    url: category_admin_post_group_path(id: @entity.id, category_id: post_category.id)
                }
            )
          %>
          <%= label_tag(element_id, post_category.full_title) %>
          (<%= post_category.post_type.name %>)
        </li>
      <% end %>
    </ul>
  </section>

  <section>
    <h2><%= t('.tags') %></h2>

    <%=
      render(
          partial: 'shared/admin/list_with_priority',
          locals: {
              collection: @entity.post_group_tags.list_for_administration
          }
      )
    %>
  </section>

  <section>
    <h2><%= t('.add_tag') %></h2>

    <div class="tag-search-container">
      <label for="tag-search"><%= t('activerecord.attributes.post_tag.name') %></label>
      <input id="tag-search" type="search" data-url="<%= tags_admin_post_group_path(id: @entity.id) %>"/>

      <div class="list-container"></div>
    </div>
  </section>
</article>
