<% model_name = entity.class.to_s.underscore %>
<%= form_with(model: entity, html: { id: "#{model_name}-form" }) do |f| %>
  <%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

  <dl>
    <% unless entity.id.nil? %>
      <dt><%= t('activerecord.attributes.post_category.post_type_id') %></dt>
      <dd>
        <%= admin_post_type_link(entity.post_type) %>
      </dd>
      <% unless entity.parent_id.nil? %>
        <dt><%= t('activerecord.attributes.post_category.parent_id') %></dt>
        <dd>
          <%= admin_post_category_link(entity.parent) %>
        </dd>
      <% end %>
    <% end %>

    <dt><%= f.label :name %></dt>
    <dd>
      <%=
        f.text_field(
            :name,
            id: "#{model_name}_name",
            size: nil,
            maxlength: PostCategory::NAME_LIMIT,
            required: true,
            data: {
                transliterate: "#{model_name}_slug"
            }
        )
      %>
      <div class="guideline"><%= t('.guidelines.name') %></div>
    </dd>

    <dt><%= f.label :slug %></dt>
    <dd>
      <%=
        f.text_field(
            :slug,
            id: "#{model_name}_slug",
            size: nil,
            maxlength: PostCategory::SLUG_LIMIT,
            required: true
        )
      %>
      <div class="guideline"><%= t('.guidelines.slug') %></div>
    </dd>

    <dt><%= f.label :priority %></dt>
    <dd>
      <%=
        f.number_field(
            :priority,
            id: "#{model_name}_priority",
            in: PostCategory::PRIORITY_RANGE,
            required: true
        )
      %>
    </dd>

    <%= render partial: 'shared/forms/entity_flags', locals: { f: f } %>
  </dl>

  <div class="buttons">
    <% if entity.id.nil? %>
      <%= f.hidden_field :post_type_id %>
      <%= f.hidden_field :parent_id %>
    <% end %>
    <%= f.button t(:save), type: :submit, class: 'button-save' %>
  </div>
<% end %>
