<% content_for :meta_title, t('.title', category: @category.name, page: current_page) %>
<% content_for :breadcrumbs do %>
    <%= link_to(t('articles.index.nav_text'), articles_path) %>
    <% @category.parents.each do |parent| %>
        <%= link_to(parent.name, articles_category_path(parent.long_slug)) %>
    <% end %>
    <span><%= @category.name %></span>
<% end %>

<article>
  <h1><%= @category.name %></h1>

  <section class="recent-posts">
    <%= paginate @collection %>
    <%= render partial: 'posts/list', locals: { collection: @collection } %>
    <%= paginate @collection %>
  </section>
</article>
