<% content_for :meta_title, t('.title', name: @entity.name) %>
<% content_for :breadcrumbs do %>
  <%= admin_biovision_component_link(component_handler.component) %>
  <%= link_to(t('admin.post_types.nav_item.text'), admin_post_types_path) %>
  <%= admin_post_type_link(@entity) %>
  <span><%= t('.nav_text') %></span>
<% end %>

<article>
  <h1><%= t('.heading') %></h1>

  <ul class="actions">
    <li><%= return_icon(admin_post_type_path(id: @entity.id)) %></li>
  </ul>

  <%=
    render(
        partial: 'shared/admin/list',
        locals: {
            collection: @collection
        }
    )
  %>
</article>
