<% content_for :meta_title, t('.title', name: @entity.name) %>
<% content_for :breadcrumbs do %>
  <%= admin_biovision_component_link(component_handler.component) %>
  <%= link_to(t('admin.post_types.nav_item.text'), admin_post_types_path) %>
  <span><%= @entity.name %></span>
<% end %>

<article>
  <h1><%= @entity.name %></h1>

  <ul class="actions">
    <li><%= back_icon(admin_post_types_path) %></li>
    <% if component_handler.allow_post_type?(@entity.slug) %>
      <li><%= create_icon(new_post_admin_post_type_path(id: @entity.id)) %></li>
    <% end %>
  </ul>

  <% if component_handler.group?(:chief) %>
    <nav>
      <%=
        link_to(
            t('admin.post_types.post_categories.nav_text'),
            post_categories_admin_post_type_path(id: @entity.id),
            class: 'button-nav'
        )
      %>
      <%=
        link_to(
            t('admin.post_types.post_tags.nav_text'),
            post_tags_admin_post_type_path(id: @entity.id),
            class: 'button-nav'
        )
      %>
      <%=
        link_to(
            t('admin.post_types.authors.nav_text'),
            authors_admin_post_type_path(id: @entity.id),
            class: 'button-nav'
        )
      %>
    </nav>
  <% end %>

  <dl>
    <dt><%= t('activerecord.attributes.post_type.slug') %></dt>
    <dd><%= @entity.slug %></dd>

    <dt><%= t('activerecord.attributes.post_type.default_category_name') %></dt>
    <dd><%= @entity.default_category_name %></dd>

    <dt><%= t('activerecord.attributes.post_type.category_depth') %></dt>
    <dd><%= @entity.category_depth %></dd>
  </dl>

  <section>
    <h2><%= t(:post_count, count: @entity.posts_count) %></h2>

    <%= render partial: 'admin/posts/filter' %>

    <%= paginate @collection %>
    <%=
      render(
          partial: 'shared/admin/list',
          locals: {
              collection: @collection,
              handler: component_handler
          }
      )
    %>
    <%= paginate @collection %>
  </section>
</article>
