<% if current_user_in_group?(:editors) %>
    <nav>
      <div class="heading" id="biovision-post-nav-heading">
        <%= t('.heading') %>
      </div>
      <ul aria-labelledby="biovision-post-nav-heading">
        <li>
          <%= render 'admin/post_types/nav_item' %>
          <ul>
            <% PostType.page_for_administration.each do |post_type| %>
                <li>
                  <div><%= admin_post_type_link(post_type) %></div>
                  <div class="description">
                    <%= t(:post_count, count: post_type.posts_count) %>
                  </div>
                  <ul class="actions">
                    <li>
                      <%= create_icon(new_post_admin_post_type_path(id: post_type.id)) %>
                    </li>
                  </ul>
                </li>
            <% end %>
          </ul>
        </li>
        <li><%= render 'admin/posts/nav_item' %></li>
        <li><%= render 'admin/post_tags/nav_item' %></li>
        <li><%= render 'admin/post_images/nav_item' %></li>
        <%= render 'admin/index/dashboard/biovision_post/additional_items' %>
      </ul>
    </nav>
<% end %>
