<% content_for :meta_title, t('.title', name: @entity.name) %>
<% content_for :breadcrumbs do %>
  <%= link_to(t('admin.editorial_members.nav_item.text'), admin_editorial_members_path) %>
  <span><%= @entity.name %></span>
<% end %>

<article>
  <h1><%= @entity.name %></h1>

  <ul class="actions">
    <li><%= back_icon(admin_editorial_members_path) %></li>
    <% if @entity.visible? %>
      <li><%= world_icon(author_path(slug: @entity.slug)) %></li>
    <% end %>
    <li><%= edit_icon(edit_editorial_member_path(id: @entity.id)) %></li>
  </ul>

  <dl>
    <dt><%= t('activerecord.attributes.editorial_member.user') %></dt>
    <dd><%= admin_user_link(@entity.user) %></dd>

    <dt><%= t('activerecord.attributes.editorial_member.title') %></dt>
    <dd><%= @entity.title %></dd>

    <% unless @entity.lead.blank? %>
      <dt><%= t('activerecord.attributes.editorial_member.lead') %></dt>
      <dd><%= @entity.lead %></dd>
    <% end %>

    <% unless @entity.about.blank? %>
      <dt><%= t('activerecord.attributes.editorial_member.about') %></dt>
      <dd>
        <%= raw(@entity.about) %>
      </dd>
    <% end %>
  </dl>

  <%=
    render(
        partial: 'shared/admin/toggleable',
        locals: {
            entity: @entity,
            url: toggle_admin_editorial_member_path(id: @entity.id)
        }
    )
  %>

  <section>
    <h2><%= t('.post_types') %></h2>

    <ul class="entity-links">
      <% PostType.list_for_administration.each do |post_type| %>
        <li>
          <% entity_id = "post_type_#{post_type.id}" %>
          <%=
            check_box_tag(
                "post_types[#{post_type.id}]",
                post_type.id,
                @entity.post_type?(post_type),
                id: entity_id,
                data: {
                    url: post_type_admin_editorial_member_path(id: @entity.id, post_type_id: post_type.id)
                }
            )
          %>
          <%= label_tag(entity_id, post_type.name) %>
        </li>
      <% end %>
    </ul>
  </section>
</article>
