<% content_for :meta_title, t('.title') %>
<% content_for :breadcrumbs do %>
  <%= link_to(t('admin.post_types.nav_item.text'), admin_post_types_path) %>
  <%= admin_post_type_link(@entity.post_type) %>
  <%= admin_post_tag_link(@entity) %>
  <span><%= t('.heading') %></span>
<% end %>

<article>
  <h1><%= t('.heading') %></h1>

  <ul class="actions">
    <li><%= return_icon(admin_post_tag_path(id: @entity.id)) %></li>
    <li class="danger"><%= destroy_icon(@entity) %></li>
  </ul>

  <%= render partial: 'form', locals: { entity: @entity } %>
</article>
