<% content_for :meta_title, t('.title', caption: @entity.caption) %>
<% content_for :breadcrumbs do %>
  <%= admin_biovision_component_link(component_handler.component) %>
  <%= link_to(t('admin.posts.nav_item.text'), admin_posts_path) %>
  <%= admin_post_link(@entity.post) %>
  <%= link_to(t('admin.posts.images.nav_text'), images_admin_post_path(id: @entity.post_id)) %>
  <span><%= @entity.caption %></span>
<% end %>

<article>
  <h1><%= @entity.caption %></h1>

  <ul class="actions">
    <li><%= return_icon(admin_post_path(id: @entity.post_id)) %></li>
    <li><%= back_icon(admin_post_images_path) %></li>
  </ul>

  <dl>
    <dt><%= t('activerecord.attributes.post_image.image') %></dt>
    <dd>
      <figure class="preview" role="group">
        <%= post_image_medium(@entity) %>
        <figcaption><%= @entity.caption %></figcaption>
      </figure>
    </dd>

    <% unless @entity.image_alt_text.blank? %>
      <dt><%= t('activerecord.attributes.post_image.image_alt_text') %></dt>
      <dd><%= @entity.image_alt_text %></dd>
    <% end %>

    <dt><%= t('activerecord.attributes.post_image.post') %></dt>
    <dd><%= admin_post_link(@entity.post) %></dd>

    <% unless @entity.source_name.blank? %>
      <dt><%= t('activerecord.attributes.post_image.source_name') %></dt>
      <dd><%= @entity.source_name %></dd>
    <% end %>

    <% unless @entity.source_link.blank? %>
      <dt><%= t('activerecord.attributes.post_image.source_link') %></dt>
      <dd><%= @entity.source_link %></dd>
    <% end %>

    <% unless @entity.description.blank? %>
      <dt><%= t('activerecord.attributes.post_image.description') %></dt>
      <dd><%= simple_format(@entity.description) %></dd>
    <% end %>
  </dl>
</article>
