<% content_for :meta_title, t('.title', name: @entity.name, page: current_page) %>
<% content_for :breadcrumbs do %>
    <%= link_to(t('admin.post_tags.nav_item.text'), admin_post_tags_path) %>
    <%= admin_post_tag_link(@entity) %>
    <span><%= t('.nav_text') %></span>
<% end %>

<article>
  <h1><%= t('.heading') %></h1>

  <ul class="actions">
    <li><%= return_icon(admin_post_tag_path(id: @entity.id)) %></li>
  </ul>

  <%= paginate @collection %>
  <%= render partial: 'shared/admin/list', locals: { collection: @collection } %>
  <%= paginate @collection %>
</article>
