<div class="post-preview" role="group">
  <div class="image">
    <%= post_link(entity, post_image_small(entity), class: 'covered proportional-container r-16x9') %>
  </div>
  <div class="text">
    <div class="title"><%= post_link(entity) %></div>
    <div class="lead"><%= post_link(entity, entity.lead!) %></div>
  </div>
  <div class="meta">
    <div class="time-and-author">
      <% if entity.show_owner? %>
        <% if entity.author_name.blank? %>
          <%= user_link(entity.user) %>
        <% else %>
          <%= post_author_link(entity) %>
        <% end %>
      <% end %>
      <%= time_tag(entity.publication_time.to_date, format: :default) %>
    </div>
    <div class="category" aria-label="<%= t('activerecord.attributes.post.post_category_id') %>">
      <%= post_category_link(entity) %>
    </div>
  </div>
  <div class="counters">
    <% if entity.allow_comments? && 'CommentableItem'.safe_constantize %>
      <span class="comment_count"><%= entity.comments_count %></span>
    <% end %>
    <div class="time_required"><%= entity.time_required %> min</div>
  </div>
</div>
