<% content_for :meta_title, t('.title', page: current_page) %>
<% content_for :breadcrumbs do %>
  <span><%= t('posts.index.nav_text') %></span>
<% end %>

<article>
  <h1><%= t('.heading') %></h1>

  <section class="recent-posts">
    <%= paginate @collection %>
    <%= render partial: 'posts/list', locals: { collection: @collection } %>
    <%= paginate @collection %>
  </section>
</article>
