<% content_for :meta_title, t('.title') %>
<% content_for :breadcrumbs do %>
  <%= link_to(t('admin.posts.nav_item.text'), admin_posts_path) %>
  <%= admin_post_link(@entity.type) unless @entity.type.nil? %>
  <span><%= t('.heading') %></span>
<% end %>

<article>
  <h1><%= t('.title') %></h1>

  <% unless @entity.post.nil? %>
    <ul class="actions">
      <li><%= back_icon(admin_post_path(id: @entity.post_id)) %></li>
    </ul>
  <% end %>

  <%= render partial: 'form', locals: { entity: @entity } %>
</article>
